@media(max-width: 1850px) {}

@media(max-width: 1800px) {
  .header__logo {
    margin-right: 50px;
  }
}

@media(max-width: 1600px) {
  .container {
    padding: 0 140px;
  }

  .title-h1 {
    font-size: 80px;
    line-height: 86px;
  }

  .footer__item-btn {
    margin-left: 0;
  }
}

@media(max-width: 1500px) {
  .header__logo {
    margin-right: 30px;
  }
}

@media(max-width: 1400px) {
  .container {
    padding: 0 80px;
  }

  .menu__btn {
    display: block;
  }

  .mob-menu {
    display: block;
  }

  .mob-menu__contacts-link {
    margin-bottom: 30px;
  }

  .nav {
    display: none;
    z-index: 3;

    &.active {
      position: fixed;
      top: 0px;
      right: 0;
      max-width: 500px;
      width: 100%;
      bottom: 0;
      background-color: $dark-blue;
      display: flex;
      align-content: space-between;
      flex-wrap: wrap;
      padding: 100px 150px 40px 70px;
      // overflow-y: scroll;
      height: 100%;
      overflow-y: auto;

      .menu-wrapper {
        width: 100%;
      }

      .menu-list {
        margin-bottom: 20px;

        +.menu-list {
          display: block;
          margin-left: 0;

        }
      }
    }
  }

  .header__contants {
    margin-left: auto;
    margin-right: 30px;
  }

  .menu-list__link-drop {
    &:hover {
      padding-top: 0px;
      padding-left: 0px;

    }

    &::before {
      display: none;
    }
  }

  .menu-list__link-menu {
    display: block;
    position: inherit;
    left: 0;
    padding-top: 20px !important;
    padding-left: 20px !important;
  }

  .mob-menu {
    .social {
      margin-bottom: 20px;
    }
  }

  .catalog,
  .ytp {


    &::before {
      position: absolute;
      content: '';
      width: 900px;
      height: 900px;
      right: 0px;
      bottom: -200px;

    }
  }
}

@media(max-width: 1200px) {
  .footer__inner {
    flex-wrap: wrap;
    gap: 30px;
  }

  .footer {
    .footer__logo {
      // margin-right: 100%;
      // margin-right: 100%;
      // width: 50px !important;
      // height: 50px !important;
    }
  }

  .certificates {
    &::before {
      background-size: cover;
      top: -100px;
      bottom: -100px;

    }
  }
}

@media(max-width: 1000px) {
  .container {
    padding: 0 40px;
  }

  .global-btn {
    padding: 10px 20px;
  }

  .title-h1 {
    font-size: 64px;
    line-height: 70px;
  }

  .title-h2 {
    font-size: 40px;
    line-height: 44px;
  }

  .title-h3 {
    font-size: 36px;
    line-height: 40px;
  }

  .nav.active {
    padding: 80px 150px 40px 70px
  }

  .main-screen-box {
    font-size: 18px;
  }

  .catalog__inner {
    flex-wrap: wrap;
  }

  .catalog__box {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .catalog__item {
    // max-width: 100%;
    // text-align: center;
    margin: 0 auto;

  }

  .portfolio-grid__inner {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .portfolio-grid__item {
    height: 40vw !important;
  }

  .portfolio-grid__item-one {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }

  .portfolio-grid__item-two {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }

  .portfolio-grid__item-three {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }

  .portfolio-grid__item-fov {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }

  .portfolio-grid__item-five {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
}

@media(max-width: 800px) {
  .title-h1 {
    font-size: 54px;
    line-height: 58px;
  }

  .title-h2 {
    font-size: 30px;
    line-height: 34px;
  }

  .title-h3 {
    font-size: 26px;
    line-height: 30px;
  }

  .container-fluid {
    padding: 0 40px;
  }

  .catalog-img {
    max-width: 400px;
    height: 400px;
  }

  .catalog,
  .ytp {
    overflow: hidden;
  }

  .ytp::before {
    width: 700px;
    height: 700px;
    right: -50px;

    bottom: -150px;
  }

  .catalog::before {
    width: 700px;
    height: 700px;
    right: -50px;

    bottom: -150px;
  }

  .gallery-grid__inner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .gallery-grid__item {
    height: 40vw !important;
  }

  .gallery-grid__item-one {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }

  .gallery-grid__item-two {
    grid-row-start: span 1;
  }

  .gallery-grid__item-three {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }

  .gallery-grid__item-fov {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }

  .portfolio-grid__inner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .portfolio-grid__item {
    height: 40vw !important;
  }

  .portfolio-grid__item-one {
    grid-column-start: span 1;
    grid-row-start: span 1;
    order: 1;
  }

  .portfolio-grid__item-two {
    grid-column-start: span 2;
    grid-row-start: span 1;
    order: 3;
  }

  .portfolio-grid__item-three {
    grid-column-start: span 1;
    grid-row-start: span 1;
    order: 4;
  }

  .portfolio-grid__item-fov {
    grid-column-start: span 1;
    grid-row-start: span 1;
    order: 5;
  }

  .portfolio-grid__item-five {
    grid-column-start: span 1;
    grid-row-start: span 1;
    order: 2;
  }

  .request__wrapper {
    flex-wrap: wrap;
  }

  .footer__inner {
    justify-content: flex-start;
  }

  .footer__item-nav {
    width: 100%;
  }

  .footer__item-address {
    // width: 100%;
  }

  .footer__item-btn {
    // width: 400px;
    margin-right: 30px;
  }
}

@media(max-width: 600px) {

  .container,
  .container-fluid {
    padding: 0 20px;
  }

  .section {
    padding: 30px 0px;
  }

  .title-h1 {
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -3px;
  }

  .title-h4 {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
  }

  .header__contants {
    .social {
      display: none;
    }
  }

  .main-screen-box {
    font-size: 16px;
  }

  // .gallery-grid__inner {
  //   grid-template-columns: repeat(1, 1fr);
  //   grid-template-rows: repeat(1, 1fr);
  // }

  // .gallery-grid__item {
  //   height: 100vw !important;
  // }
}

@media(max-width: 400px) {
  .title-h1 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -2px;
  }

  .nav.active {
    padding: 80px 150px 40px 40px;
  }

  .header__logo {
    margin-right: 15px;
  }

  .header__contants {
    margin-left: 0;
    margin-right: 15px;
  }

  .main-screen-box {
    text-transform: none;
  }
}