@media(max-width: 1850px) {}

@media(max-width: 1800px) {
  .header__logo {
    margin-right: 50px;
  }
}

@media(max-width: 1600px) {
  .container {
    padding: 0 140px;
  }

  .title-h1 {
    font-size: 80px;
    line-height: 86px;
  }
}

@media(max-width: 1500px) {
  .header__logo {
    margin-right: 30px;
  }
}

@media(max-width: 1400px) {
  .container {
    padding: 0 80px;
  }

  .menu__btn {
    display: block;
  }

  .mob-menu {
    display: block;
  }

  .mob-menu__contacts-link {
    margin-bottom: 30px;
  }

  .nav {
    display: none;
    z-index: 3;

    &.active {
      position: fixed;
      top: 0px;
      right: 0;
      max-width: 500px;
      width: 100%;
      bottom: 0;
      background-color: $dark-blue;
      display: flex;
      align-content: space-between;
      flex-wrap: wrap;
      padding: 100px 150px 40px 70px;
      // overflow-y: scroll;
      height: 100%;
      overflow-y: auto;

      .menu-wrapper {
        width: 100%;
      }

      .menu-list {
        margin-bottom: 20px;

        +.menu-list {
          display: block;
          margin-left: 0;

        }
      }
    }
  }

  .header__contants {
    margin-left: auto;
    margin-right: 30px;
  }

  .menu-list__link-drop {
    &:hover {
      padding-top: 0px;
      padding-left: 0px;

    }

    &::before {
      display: none;
    }
  }

  .menu-list__link-menu {
    display: block;
    position: inherit;
    left: 0;
    padding-top: 20px !important;
    padding-left: 20px !important;
  }

  .mob-menu {
    .social {
      margin-bottom: 20px;
    }
  }
}

@media(max-width: 1000px) {
  .container {
    padding: 0 40px;
  }

  .global-btn {
    padding: 10px 20px;
  }

  .title-h1 {
    font-size: 64px;
    line-height: 70px;
  }

  .nav.active {
    padding: 80px 150px 40px 70px
  }

  .main-screen-box {
    font-size: 18px;
  }
}

@media(max-width: 800px) {}

@media(max-width: 600px) {
  .container {
    padding: 0 20px;
  }
.section{
  padding: 30px 0px;
}
  .title-h1 {
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -3px;
  }
  .title-h4{
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
  }

  .header__contants {
    .social {
      display: none;
    }
  }

  .main-screen-box {
    font-size: 16px;
  }
}

@media(max-width: 400px) {
  .title-h1 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -2px;
  }

  .nav.active {
    padding: 80px 150px 40px 40px;
  }

  .header__logo {
    margin-right: 15px;
  }

  .header__contants {
    margin-left: 0;
    margin-right: 15px;
  }

  .main-screen-box {
    text-transform: none;
  }
}