%Bold {
  font-family: 'Montserrat-Bold', sans-serif;
  display: swap;
}

%Medium {
  font-family: 'Montserrat-Medium', sans-serif;
  display: swap;
}

%Regular {
  font-family: 'Montserrat-Regular', sans-serif;
  display: swap;
}

$black: #000000;
$gray: #4A4A4A;
$light-gray: #EEEEEE;
$white: #FFFFFF;
$light-blue: #0063AC;
$blue: #004477;
$dark-blue: #002744;
