@import 'vars';
@import 'reset';
@import 'global';
@import 'fonts';

// start header
.header {

  padding: 10px 0;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
}



.header__fixed {
  background-color: rgba(0, 39, 68, 0.95);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  animation-name: show_header;
  animation-duration: 1s;
  z-index: 100;
}

@keyframes show_header {
  0% {
    opacity: 0;
    top: -70px
  }

  100% {
    opacity: 1;
    top: 0;
  }
}




.header__logo {
  margin-right: 260px;
  width: 50px;
  height: 50px;

  img {
    width: 50px;
    height: 50px;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list {
  display: inline-block;
  transition: all .3s;
  cursor: pointer;

  +.menu-list {
    margin-left: 28px;
  }
}

.menu__btn {
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 100;
  display: none;
  padding-top: 4px !important;
  border-radius: 5px;
  z-index: 3;

  &.active {
    .row {
      height: 3px;
    }

    .row1 {
      transform: rotate(45deg);
      position: relative;
      top: 8px;
      background-color: $white;
      transition: all .5s ease 0s;
    }

    .row2 {
      transform: rotate(-45deg);
      position: relative;
      top: -1px;
      background-color: $white;
      transition: all .5s ease 0s;
    }

    .row3 {
      opacity: 0;
    }
  }
}

.row {
  width: 25px;
  background-color: $white;
  height: 3px;
  border-radius: 5px;
  display: block;
  margin-bottom: 6px;
  margin-top: 6px;
  transition: all .3s;
  margin: 6px auto;
}

.mob-menu {
  display: none;
}


.header__contants {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  margin-right: 30px;
}

.social__list {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid $white;
  transition: all .3s;
  cursor: pointer;

  &:hover {
    background-color: $light-blue;
    color: $light-gray;
  }

  +.social__list {
    margin-left: 20px;
  }

}

.social__list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

// end header





// start section main-screen
.main-screen {
  padding-top: 140px;
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    content: '';
    background: linear-gradient(90deg, #002744 0%, rgba(0, 39, 68, 0) 100%);
    width: 100%;
    height: 100%;
  }

}

.main-screen-box {
  font-size: 18px;
  @extend %Medium;
  line-height: 24px;
  margin-bottom: 30px;
}


// end section main-screen
.catalog {
  padding: 50px 0;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 1200px;
    height: 1200px;
    right: 0px;
    bottom: -400px;
    background-image: url('../images/content/catalog-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
}

.catalog__inner {
  display: flex;
  justify-content: space-between;
}

.catalog__box {
  max-width: 60%;
  width: 100%;
  margin-right: 20px;
}

.catalog-img {
  max-width: 577px;
  width: 100%;
  object-fit: contain;
  height: 500px;
}

// start section gallery-grid
.gallery-grid__inner {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  // padding: 200px 0;
}

.gallery-grid__item {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  transition: all .3s;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3), -3px -3px 3px 0 rgba(161, 180, 204, 0.3), inset 3px 3px 3px 0 rgba(0, 0, 0, 0.3), inset -3px -3px 3px 0 rgba(161, 180, 204, 0.3);
  height: 100%;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all .5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.gallery-grid__item-one {
  grid-column-start: span 1;
  grid-row-start: span 3;
}

.gallery-grid__item-two {
  grid-row-start: span 2;
}

.gallery-grid__item-three {
  grid-column-start: span 1;
  grid-row-start: span 2;
}

.gallery-grid__item-fov {
  grid-column-start: span 2;
  grid-row-start: span 1;
}

// end section gallery-grid

// start section adv
.adv__inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  // gap: 30px;
}

.adv__item {
  margin: 0 30px;
  margin-bottom: 30px;
  text-align: center;
  max-width: 300px;
  width: 100%;
}

.adv__item-img {
  width: 60px;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 30px;
}

// end section adv

// start section portfolio
.portfolio-grid__inner {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  // padding: 200px 0;
}

.portfolio-grid__item {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  transition: all .3s;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3), -3px -3px 3px 0 rgba(161, 180, 204, 0.3), inset 3px 3px 3px 0 rgba(0, 0, 0, 0.3), inset -3px -3px 3px 0 rgba(161, 180, 204, 0.3);
  height: 100%;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all .5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.portfolio-grid__item-one {
  grid-column-start: span 1;
  grid-row-start: span 1;
}

.portfolio-grid__item-two {
  grid-column-start: span 3;
  grid-row-start: span 1;
}

.portfolio-grid__item-three {
  grid-column-start: span 2;
  grid-row-start: span 3;
}

.portfolio-grid__item-fov {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.portfolio-grid__item-five {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

// end section portfolio










@import 'media';